<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="num1" placeholder="Enter first number"><br><br>
        
        
        <select name="opr">
        
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
                <option value="%">%</option>

        </select><br><br>
        <input type="text" name="num2" placeholder="Enter second number"><br><br>
        
        <button type="submit">Result</button><br><br>
        
    
        <input type="text" placeholder="Result" value="{{cal}}"><br><br>
    
    
    
    </form>
</body>
</html>