<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        <input type="text" name="name" placeholder="Enter your name"><br><br>
        <input type="text" name="email" placeholder="Enter your email"><br><br>
        <input type="text" name="phone" placeholder="Enter your phone"><br><br>
        <input type="text" name="address" placeholder="Enter your address"><br><br>
    
        <button type="submit">submit</button><br><br>
    
    
        
    </form>
</body>
</html>